<p>
  <strong>Title:</strong>
  <%= @articles.title %>
<p>

<p>
  <strong>Text:</strong>
  <%= @articles.text %>
</p>

<ul>
  <% @articles.comments.each do |f| %>
      <%= f.body %>
  <% end %>
</ul>

<h2>Add a comment:</h2>

<%= form_for([@articles, @articles.comments.build]) do |f| %>
    <p>
      <%= f.label :commenter%>
      <%= f.text_field :commenter %>
    </p>
    <p>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Edit', edit_article_path(@articles) %>
<%= link_to 'Back', articles_path %>